#tituloArticulo{
    font-size: 36px;
}

.card-body{
    background-color: #e6eeff;
}

#izquierda{
    padding-left: 6%; 
    padding-right: 3%;
}

#derecha{
    padding-left: 3%; 
    padding-right: 6%;
}

label{
    font-size: 18px;
}