header, footer{
    background-color: #4b608a;
}


.bg-prim{
    background-color: #4b608a;
    color: white;
}
.bg-second{
    background-color: #e6eeff;
    color: #4b608a;
}

.card-second{
    background-color: #e6eeff;
    color: #4b608a;
    border-color: #4b608a;
}
body{
    background-color: #e6eeff;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}

#detalles{
    font-size: 24px;
    font-weight: bold;
    
}


.responsive-iframe {
    width: 100%;
    height: auto;
}
