<footer>

    <div class="row">
        <div class="col-md-3">
            <h3>Contáctanos</h3>
            <h5>Redes Sociales</h5>
            <p>
                <i class="fas fa-facebook-square fa-2x"></i>
                <i class="fas fa-instragram fa-2x"></i>
                <i class="fas fa-youtube fa-2x"></i>
            </p>
            <h5>Email</h5>
            <h6>vibraniumblog@contactme.com</h6>
        </div>
        <div class="col-md-6">
            <h3>Colaboradores</h3>
            <ul>
                <li>
                    <h5>Butrón Cañada Juan Jesús</h5>
                </li>
                <li>
                    <h5>Díaz Rodríguez Andrés Heladio</h5>
                </li>
                <li>
                    <h5>Martínez Carrillo Leonardo</h5>
                </li>
                <li>
                    <h5>Reyes Montiel Fernando Brauilo</h5>
                </li>
                <li>
                    <h5>Rodriguez Duarte Brando Ivan</h5>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Newsletter</h3>
            <p align="justify">Unete a nosotros para obtener las últimas novedades.</p>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text fa fa-paper-plane" id="basic-addon1"></span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <p><u>Términos y condiciones</u></p>
        </div>
    </div>
    <hr>
    <h5>2021 Vibranium Blog <i class="fa fa-registered"></i></h5>

</footer>
</body>

</html>